
:is(.dnd5e2,.dnd5e2-journal) :is(i, span).currency.gp { background-image: url("assets/icons/credit-icon.svg")!important}


.dnd5e2.sheet.item .sheet-header .school {
    --icon-size: 60px;
}


body.theme-dark .dnd5e2 {
    --dnd5e-item-header-image: url("/modules/mass-effect-5e/assets/artwork/mass-effect-n7-header.jpg") !important;
    --dnd5e-character-background-image: url("/modules/mass-effect-5e/assets/artwork/n7logo.jpg") !important
}

body.theme-dark .dnd5e2 .item-header {
  background-image: var(--dnd5e-item-header-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}