<fieldset>
    <legend>{{ "Shield Points" }}</legend>
    <div class="form-group">
        <label>{{ "Hit Die" }}</label>
        <span class="form-field-readonly">{{ "d6" }}</span>
    </div>
    <div class="form-group">
        <label>{{ 10 }}</label>
        <span class="form-field-readonly">{{ 20 }}</span>
    </div>
    <div class="form-group">
        <label>{{ localize "7" }}</label>
        <span class="form-field-readonly">{{ 7 }}</span>
    </div>
</fieldset>
